#ACTION          SOURCE     DEST       PROTO   DEST        SOURCE     ORIGINAL    RATE

# Permit access to SSH
#ACCEPT       net        $FW:XX.XX.XX.XX         tcp       2222            -          -          6/min:5


# Permit access to Proxmox Manager and Console
#ACCEPT           net        $FW:XX.XX.XX.XX         tcp     8006,3128

# PING Rules
Ping/ACCEPT      all        all


# LAST LINE -- DO NOT REMOVE
